<h1 class="text-2xl font-semibold">Moje zamówienia</h1>

<ng-container *ngIf="userTickets$ | async as userOrders">
  <ng-container *ngIf="userOrders.length > 0; else noOrders">
    <ol class="user-tickets-container pl-2">
      <ng-container *ngFor="let userOrder of userOrders">
        <li>
          <h2
            class="user-tickets-container__order-num text-xl font-semibold mt-2"
          >
            <a [routerLink]="['/tickets/', userOrder.orderID]">
              Zamówienie nr: {{ userOrder.orderID }} z dnia {{ userOrder.date }}
            </a>
          </h2>
        </li>
        <p>Liczba biletów: {{ userOrder.tickets.length }}</p>
      </ng-container>
    </ol></ng-container
  >
</ng-container>
<ng-template #noOrders>Nie złożyłono jeszcze żadnego zamówienia</ng-template>
