<ng-container *ngIf="showings$ | async as showings; else listEmpty">
  <h1 class="text-3xl font-bold pb-1">Lista nadchodzących seansów</h1>
  <a routerLink="/admin/showings/add-showing" class="text-xl inline-flex"
    >Dodaj nowy seans <mat-icon class="ml-2 text-lg">create</mat-icon></a
  >
  <ng-container *ngIf="dataForShowing$ | async as data" ;
    ><div class="mt-4">
      <form [formGroup]="filterForm">
        <mat-form-field appearance="fill" class="mr-2">
          <mat-label>Filtruj po nazwie filmu</mat-label>
          <mat-select
            (selectionChange)="filterByTitle(titleCtrl.value)"
            formControlName="title"
          >
            <mat-option value="Wszystkie">Wszystkie</mat-option>
            <mat-option
              [value]="movie.title"
              *ngFor="let movie of data.movies; let index = index"
              class="mt-2 title-option"
              >{{ movie.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Filtruj po sali</mat-label>
          <mat-select
            (selectionChange)="filterByHall(hallCtrl.value)"
            formControlName="hall"
          >
            <mat-option value="Wszystkie">Wszytskie</mat-option>
            <mat-option [value]="hall.id" *ngFor="let hall of data.halls"
              >{{ hall.name }}, nr: {{ hall.id }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </form>
    </div></ng-container
  >
  <ol class="pl-2 showing-list mt-4">
    <li *ngFor="let showing of showings">
      <app-showings-list-item [showing]="showing"></app-showings-list-item>
    </li>
  </ol>
</ng-container>
<ng-template #listEmpty
  ><p>Nie udało się załadować danych, spróbuj ponownie później</p></ng-template
>
