:host {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.favorite {
  color: green;
}
.movie-container__info,
.movie-container__details {
  display: flex;

  gap: 1rem;
}

.movie-container__info {
  flex-direction: column;
  flex: 2;
}
