<form [formGroup]="loginForm" (ngSubmit)="sendForm()">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="couponCode"
      formControlName="email"
      placeholder="example@email.com"
    />
    <mat-error *ngIf="loginForm.controls.email.errors">
      <span *ngIf="loginForm.controls.email.hasError('required')"
        >Email jest <strong>wymagany</strong></span
      >

      <span *ngIf="loginForm.controls.email.hasError('pattern')">
        Niewłaściwy format email
      </span></mat-error
    >
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Hasło</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      [class.error]="
        loginForm.controls.password.errors &&
        loginForm.controls.password.touched
      "
    />
    <mat-error *ngIf="loginForm.controls.password.hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Zaloguj</button>
</form>
