nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.brand-name {
  font-size: 2rem;
}

.nav-buttons {
  gap: 1rem;
  display: inline-flex;
}

.cart-btn .mat-icon {
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
