<img
  src="https://blik.com/layout/default/dist/gfx/logo/logo.svg"
  alt="BLIK logo"
/>

<ng-container *ngIf="notPaid">
  <div>
    <p>Kod powinien składać się z {{ INPUT_LENGTH }} cyfr</p>
  </div>

  <form [formGroup]="blikForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        appNumbersOnly
        [inputLength]="INPUT_LENGTH"
        type="text"
        matInput
        formControlName="blikNum"
      />
      />

      <mat-error *ngIf="blikForm.controls.blikNum.hasError('required')">
        Number BLIK jest <strong>wymagany</strong>
      </mat-error>
      <mat-error *ngIf="blikForm.controls.blikNum.hasError('pattern')">
        Kod musi się składać z 6 cyfr
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">
      Płacę
      <ng-container *ngIf="cartPrices$ | async as cartPrices">
        <ng-container *ngIf="couponRate$ | async as couponRate">
          <span
            appMultiply
            [multiplyBy]="couponRate.couponRate"
            [valueToMultiply]="cartPrices"
            >{{ cartPrices | number : "1.2-2" }}</span
          >
          PLN
        </ng-container>
      </ng-container>
    </button>
  </form>
</ng-container>
<ng-container *ngIf="!notPaid">
  <p class="text-body-big">Płatność zakończona sukcesem</p>
  <mat-icon>check_circle_outline</mat-icon>

  <a [routerLink]="['/tickets/', orderID]">
    Przejdź do podsumowania zamówienia
  </a>
</ng-container>
