<img
  src="https://blik.com/layout/default/dist/gfx/logo/logo.svg"
  alt="BLIK logo"
/>

<ng-container *ngIf="notPaid && !showSpinner">
  <div>
    <p class="text-body-big text-stone-900">{{ INPUT_LENGTH }}-cyfrowy kod</p>
  </div>

  <form [formGroup]="blikForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="text-3xl w-36 blik-form">
      <input
        appNumbersOnly
        [inputLength]="INPUT_LENGTH"
        type="text"
        matInput
        formControlName="blikNum"
      />

      <mat-error *ngIf="blikForm.controls.blikNum.errors" class="px-0 text-sm">
        <span *ngIf="blikForm.controls.blikNum.hasError('required')">
          Number BLIK jest <strong>wymagany</strong></span
        >
        <span *ngIf="blikForm.controls.blikNum.hasError('pattern')">
          Kod musi się składać z 6 cyfr</span
        >
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!blikForm.valid">
      Zapłać
      <ng-container *ngIf="cartPrices$ | async as cartPrices">
        <ng-container *ngIf="couponRate$ | async as couponRate">
          <span
            appMultiply
            [multiplyBy]="couponRate.couponRate"
            [valueToMultiply]="cartPrices"
            >{{ cartPrices | number : "1.2-2" }}</span
          >
          PLN
        </ng-container>
      </ng-container>
    </button>
  </form>
</ng-container>
<ng-container *ngIf="showSpinner">
  <p class="text-body-big text-stone-900">Sprawdzam dane płatności...</p>
  <mat-spinner></mat-spinner>
</ng-container>
<ng-container *ngIf="!notPaid">
  <p class="text-body-big text-stone-900">Płatność zakończona sukcesem</p>
  <mat-icon class="success-icon">check_circle_outline</mat-icon>

  <a [routerLink]="['/tickets/', orderID]">
    Przejdź do podsumowania zamówienia
  </a>
</ng-container>
