<form [formGroup]="loginForm" (ngSubmit)="sendForm()">
  <label for="login-email"
    >Email
    <input
      [class.error]="
        loginForm.controls.email.errors && loginForm.controls.email.touched
      "
      formControlName="email"
      type="email"
      name="email"
      id="login-email"
      placeholder="example@email.com"
  /></label>

  <ng-container
    *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched"
    ><span class="error-msg" *ngIf="loginForm.controls.email.errors['required']"
      >Email jest wymaganym polem</span
    >
    <span class="error-msg" *ngIf="loginForm.controls.email.errors['pattern']"
      >Niewłaściwy format adresu email</span
    ></ng-container
  >

  <label for="login-password"
    >Hasło
    <input
      [class.error]="
        loginForm.controls.password.errors &&
        loginForm.controls.password.touched
      "
      formControlName="password"
      type="password"
      id="login-password"
  /></label>

  <ng-container *ngIf="loginForm.controls.password.errors as errors">
    <ng-container *ngIf="loginForm.controls.password.touched">
      <span class="error-msg" *ngIf="errors['required']"
        >Hasło jest wymaganym polem</span
      >
    </ng-container>
  </ng-container>

  <button>Zaloguj</button>
</form>
