form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  background-color: darkblue;
  color: white;
  min-width: 300px;
  width: fit-content;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 20px;
}
.mat-mdc-form-field-infix {
  width: 200px !important;
}
/* input {
  margin-top: 0.5rem;
  min-width: 250px;
}
label {
  display: flex;
  flex-direction: column;
}

.error {
  outline: red 2px solid;
  border: 1px solid red;
}

.error-msg {
  color: red;
  align-self: flex-start;
} */

/* button {
  border-radius: 1rem;
  padding: 0.5rem;
  width: 125px;
  border: solid 2px white;
  color: darkblue;
  background-color: white;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 700;
}
button:disabled {
  color: grey;
  border-color: grey;
  background-color: lightgray;
  cursor: auto;
}

button:not(:disabled):hover {
  color: white;
  background-color: darkblue;
  border: solid 2px white;
  transform: scale(1.2);
} */
