<form [formGroup]="loginForm" (ngSubmit)="sendForm()">
  <label for="login-email"
    >Email
    <input
      [class.error]="
        loginForm.controls.emailCtrl.errors &&
        loginForm.controls.emailCtrl.touched
      "
      formControlName="emailCtrl"
      type="email"
      name="email"
      id="login-email"
      placeholder="example@email.com"
  /></label>

  <ng-container
    *ngIf="
      loginForm.controls.emailCtrl.errors &&
      loginForm.controls.emailCtrl.touched
    "
    ><span
      class="error-msg"
      *ngIf="loginForm.controls.emailCtrl.errors['required']"
      >Email jest wymaganym polem</span
    >
    <span
      class="error-msg"
      *ngIf="loginForm.controls.emailCtrl.errors['pattern']"
      >Niewłaściwy format adresu email</span
    ></ng-container
  >

  <label for="login-password"
    >Hasło
    <input
      [class.error]="
        loginForm.controls.passwordCtrl.errors &&
        loginForm.controls.passwordCtrl.touched
      "
      formControlName="passwordCtrl"
      type="password"
      id="login-password"
  /></label>

  <ng-container *ngIf="loginForm.controls.passwordCtrl.errors as errors">
    <ng-container *ngIf="loginForm.controls.passwordCtrl.touched">
      <span class="error-msg" *ngIf="errors['required']"
        >Hasło jest wymaganym polem</span
      >
      <!-- <span class="error-msg" *ngIf="errors['minlength'] as minlength"
        >Hasło jest za krótkie. Minimum to
        {{ minlength.requiredLength }} znaków, wprowadzono
        {{ minlength.actualLength }}</span
      > -->
    </ng-container>
  </ng-container>

  <button [disabled]="loginForm.invalid">Zaloguj</button>
</form>
