<h1 class="text-4xl font-bold pb-1 my-2">Dodaj nowy film</h1>

<form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
  <div class="form-fields">
    <mat-form-field>
      <input
        matInput
        appNoEmptyChars
        placeholder="Tytuł"
        formControlName="title"
      />
      <mat-error *ngIf="titleCtrl.errors">
        <span *ngIf="titleCtrl.errors['required']"
          >Tytuł filmu jest wymaganym polem.</span
        >
        <span *ngIf="titleCtrl.errors['maxlength']"
          >Dopuszczalna liczba znaków dla tytułu to
          {{ titleCtrl.errors["maxlength"]["requiredLength"] }}</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Link do plakatu"
        formControlName="imageUrl"
      />

      <mat-error *ngIf="imageUrlCtrl.errors">
        <span *ngIf="imageUrlCtrl.errors['required']"
          >Link do plakatu jest wymaganym polem</span
        >
        <span *ngIf="imageUrlCtrl.errors['minlength']"
          >Minimalna liczba znaków dla linku to
          {{ imageUrlCtrl.errors["minlength"]["requiredLength"] }}.</span
        >
        <span *ngIf="imageUrlCtrl.errors['maxlength']"
          >Dopuszczalna liczba znaków dla linku to
          {{ imageUrlCtrl.errors["maxlength"]["requiredLength"] }}</span
        >
      </mat-error>
    </mat-form-field>
    <img [src]="imageUrlCtrl.value" />
    <mat-form-field>
      <mat-select placeholder="Kategorie" formControlName="genres" multiple>
        <mat-option
          *ngFor="let genre of genres$ | async"
          [value]="genre.name"
          >{{ genre.name }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="genresCtrl.errors"
        ><span *ngIf="genresCtrl.errors['required']"
          >Kategorie są wymaganym polem</span
        ><span *ngIf="genresCtrl.errors['maxlength']"
          >Maksymalna liczba kategorii to
          {{ genresCtrl.errors["maxlength"]["requiredLength"] }}</span
        ></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Ograniczenie wiekowe"
        formControlName="ageRestriction"
      >
        <mat-option
          *ngFor="let restriction of ageRestriction$ | async"
          [value]="restriction.name"
          >{{ restriction.name }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="ageRestrictionCtrl.errors"
        ><span *ngIf="ageRestrictionCtrl.errors['required']"
          >Ograniczenie wiekowe jest wymaganym polem</span
        ></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Krótki opis"
        formControlName="descriptionShort"
      ></textarea>
      <mat-error *ngIf="descriptionShortCtrl.errors"
        ><span *ngIf="descriptionShortCtrl.errors['required']"
          >Krótki opis jest wymaganym polem</span
        >
        <span *ngIf="descriptionShortCtrl.errors['minlength']"
          >Minimalna liczba znaków dla dla krótkiego opisu to
          {{
            descriptionShortCtrl.errors["minlength"]["requiredLength"]
          }}.</span
        >
        <span *ngIf="descriptionShortCtrl.errors['maxlength']"
          >Dopuszczalna liczba znaków dla krótkiego opisu to
          {{ descriptionShortCtrl.errors["maxlength"]["requiredLength"] }}</span
        ></mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Długi opis"
        formControlName="descriptionLong"
      ></textarea>
      <mat-error *ngIf="descriptionLongCtrl.errors"
        ><span *ngIf="descriptionLongCtrl.errors['required']"
          >Krótki opis jest wymaganym polem</span
        >
        <span *ngIf="descriptionLongCtrl.errors['minlength']"
          >Minimalna liczba znaków dla dla długiego opisu to
          {{ descriptionLongCtrl.errors["minlength"]["requiredLength"] }}.</span
        >
        <span *ngIf="descriptionLongCtrl.errors['maxlength']"
          >Dopuszczalna liczba znaków dla długiego opisu to
          {{ descriptionLongCtrl.errors["maxlength"]["requiredLength"] }}</span
        ></mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        appNumbersOnly
        matInput
        type="number"
        placeholder="Czas trwania w min"
        formControlName="duration"
      />
      <mat-error *ngIf="durationCtrl.errors"
        ><span *ngIf="durationCtrl.errors['required']"
          >Czas trwania jest wymaganym polem</span
        ><span *ngIf="durationCtrl.errors['min']"
          >Minimalny czas trwania to
          {{ durationCtrl.errors["min"]["min"] }} minut</span
        >
        <span *ngIf="durationCtrl.errors['max']"
          >Maksymalny czas trwania to
          {{ durationCtrl.errors["max"]["max"] }} minut</span
        ></mat-error
      >
    </mat-form-field>
    <mat-slide-toggle color="primary" formControlName="isPremiere"
      >Premiera
    </mat-slide-toggle>
  </div>
  <button mat-raised-button color="primary">Dodaj film</button>
</form>
