<h1 class="text-2xl font-semibold mt-4">Lista filmów do obejrzenia</h1>
<ng-container *ngIf="titles$ | async as titles">
  <ng-container *ngIf="titles.length > 0; else watchlistEmpty">
    <ol class="pl-4 inline-block">
      <li *ngFor="let movieTitle of titles" class="text-xl mt-2">
        {{ movieTitle.title }}
        <button
          mat-raised-button
          color="accent"
          (click)="onRemoveFromWatchList(movieTitle.titleId)"
          class="ml-2 text-base"
        >
          usuń
        </button>
      </li>
    </ol></ng-container
  >
</ng-container>
<ng-template #watchlistEmpty>
  <p class="text-xl mt-2">Brak filmów na liście</p>
</ng-template>
