<h1>Lista filmów do obejrzenia</h1>
<ng-container *ngIf="titles$ | async as titles">
  <ng-container *ngIf="titles.length > 0; else watchlistEmpty">
    <ol>
      <li *ngFor="let movieTitle of titles">
        {{ movieTitle.title }}
        <button
          mat-raised-button
          color="accent"
          (click)="onRemoveFromWatchList(movieTitle.titleId)"
        >
          usuń
        </button>
      </li>
    </ol></ng-container
  >
</ng-container>
<ng-template #watchlistEmpty>
  <p>Brak filmów na liście do obejrzenia</p>
</ng-template>
