:host {
  margin-top: auto;
}
footer {
  margin: 1rem 0;
  fill: white;
}

footer .icons-and-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-icons a svg {
  width: 36px;
  height: 36px;
}

.social-icons {
  display: flex;
  flex-direction: row;
}
.social-icons a + a {
  margin-left: 1rem;
}

footer a {
  text-decoration: none;
  padding-inline: 1rem;
  color: white;
}

.useful-links a {
  display: inline-block;
  min-width: 150px;
  border-right: 2px solid white;
  margin-top: 0.5rem;

  &:last-child {
    border-right: none;
  }
}

.copyright {
  display: flex;
  justify-content: center;
}
