<ng-container *ngIf="ratingList$ | async as movieRating">
  <ng-container *ngIf="movieRating.length > 0; else notRated"
    ><span class="text-xl font-medium">
      Rating: {{ movieRating | avg | number : "1.2-2" }} / 10</span
    ></ng-container
  >
  <ng-template #notRated>
    <p>Nikt jeszcze nie ocenił filmu</p>
  </ng-template>
</ng-container>

<ng-container *ngIf="(auth$ | async)?.hasAuth">
  <button
    mat-raised-button
    color="primary"
    [disabled]="checkIfUserRated()"
    (click)="showRatingForm = !showRatingForm"
  >
    Oceń
  </button>

  <ng-container *ngIf="showRatingForm">
    <form [formGroup]="ratingForm" (ngSubmit)="rateMovie(userID, movieId)">
      <mat-radio-group
        color="primary"
        formControlName="rating"
        aria-label="Oceń film"
      >
        <mat-radio-button color="primary" name="rating" value="1"
          >1</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="2"
          >2</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="3"
          >3</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="4"
          >4</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="5"
          >5</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="6"
          >6</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="7"
          >7</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="8"
          >8</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="9"
          >9</mat-radio-button
        ><mat-radio-button color="primary" name="rating" value="10"
          >10</mat-radio-button
        ><br
      /></mat-radio-group>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!ratingForm.controls.rating.value"
      >
        Potwierdzam
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="showThankYou">
    <p>Dziękujemy, oceniłeś film {{ ratingForm.controls.rating.value }}/10</p>
  </ng-container>
</ng-container>
