<ng-container *ngIf="movie.length"
  ><app-showing-details [showingId]="showing[0].id"></app-showing-details>
  <app-seat-grid
    [showingId]="showing[0].id"
    (chooseSeat)="onReserveSeat($event.row, $event.column)"
  ></app-seat-grid>

  <ng-container *ngIf="ticketsForm.controls.tickets.controls.length > 0">
    <form [formGroup]="ticketsForm" (ngSubmit)="onSubmit()">
      <ol
        *ngFor="
          let ticket of ticketsForm.controls.tickets.controls;
          let index = index
        "
      >
        <div [formGroup]="ticket">
          <fieldset>
            <legend>Bilet</legend>
            <span>Rząd {{ ticket.controls.rowSeat.value }}</span>
            <span> Miejsce {{ ticket.controls.columnSeat.value }}</span>
            <mat-form-field appearance="fill">
              <mat-label>Wybierz rodzaj biletu</mat-label>
              <mat-select
                formControlName="ticketTypeName"
                (selectionChange)="updatePrice(index, $event)"
              >
                <mat-option
                  [value]="ticketType.name"
                  *ngFor="let ticketType of ticketTypes; let index = index"
                  >{{ ticketType.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <p>Cena: {{ ticket.controls.ticketPrice.value }}</p>

            <button
              #myDiv
              (click)="
                removeTicket(
                  index,
                  ticket.controls.rowSeat.value,
                  ticket.controls.columnSeat.value
                )
              "
            >
              <mat-icon>close</mat-icon>
            </button>
          </fieldset>
        </div>
      </ol>

      <p>Łączna kwota: {{ totalPrice }}</p>
      <button mat-raised-button color="primary">Dodaj do koszyka</button>
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        routerLink="/zamowienie"
      >
        Przejdź do zamówienia
      </button>
    </form>
  </ng-container>
</ng-container>
