<ng-container *ngIf="movie.length"
  ><div>
    <p>
      {{ movie[0].title }}, {{ showing[0].date }}, {{ showing[0].timeFrom }}
    </p>
  </div>

  <!-- </ng-container> -->

  <!-- <ng-container notFound> Nie znaleziono takiego seansu </ng-container> -->

  <div class="rows" *ngFor="let row of rowsA">
    <span class="row">{{ row }} </span>
    <span
      class="column-seats"
      *ngFor="let column of columns; let index = index"
      [ngClass]="onCheckReservedSeats(row, column) ? 'reserved-seat' : ''"
      (click)="onReserveOrRemoveSeat(row, column)"
    >
      {{ column }}
    </span>
  </div>

  <ng-container *ngIf="ticketsForm.controls.tickets.controls.length > 0">
    <form [formGroup]="ticketsForm">
      <ol *ngFor="let ticket of ticketsForm.controls.tickets.controls">
        <div>
          <fieldset>
            <legend>Bilet</legend>
            <span>Rząd {{ ticket.controls.rowSeat.value }}</span>
            <span> Miejsce {{ ticket.controls.columnSeat.value }}</span
            ><select formName="ticketTypeName">
              <option
                value="ticketType.name"
                *ngFor="let ticketType of ticketTypes; let index = index"
              >
                {{ ticketType.name }} :
                <span formName="ticketTypePrice"
                  >{{ ticketType.price }} PLN</span
                >
              </option>
            </select>
          </fieldset>
        </div>
      </ol>
    </form>
  </ng-container>
</ng-container>
