<img
  src="https://blik.com/layout/default/dist/gfx/logo/logo.svg"
  alt="BLIK logo"
/>
<form [formGroup]="blikForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input type="number" matInput formControlName="blikNum" />

    <mat-error *ngIf="blikForm.controls.blikNum.hasError('required')">
      Number BLIK jest <strong>wymagany</strong>
    </mat-error>
    <mat-error *ngIf="blikForm.controls.blikNum.hasError('pattern')">
      Kod musi się składać z 6 cyfr
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Płacę</button>
</form>
