<h1 class="text-3xl font-semibold text-center">ADMIN DASHBOARD</h1>
<div class="flex gap-8 flex-wrap">
  <div>
    <h2 class="text-3xl font-bold pb-1">Seanse</h2>
    <ol class="pl-4">
      <li>
        <a
          routerLink="showings/add-showing"
          class="text-2xl inline-flex items-baseline font-semibold"
          >Dodaj nowy seans
          <mat-icon class="ml-2 mt-0 text-lg">create</mat-icon></a
        >
      </li>
      <li>
        <a
          routerLink="showings/showings-list"
          class="text-2xl inline-flex items-baseline font-semibold"
          >Lista seansów <mat-icon class="ml-2 mt-0 text-lg">list</mat-icon></a
        >
      </li>
    </ol>
  </div>
  <div>
    <h2 class="text-3xl font-bold pb-1">Filmy</h2>
    <ol>
      <li>
        <a
          routerLink="movies/add-movie"
          class="text-2xl inline-flex items-baseline font-semibold"
          >Dodaj nowy film
          <mat-icon class="ml-2 mt-0 text-lg">create</mat-icon></a
        >
      </li>
      <li>
        <a
          routerLink="movies/movies-list"
          class="text-2xl inline-flex items-baseline font-semibold"
          >Lista filmów <mat-icon class="ml-2 mt-0 text-lg">list</mat-icon></a
        >
      </li>
    </ol>
    <div></div>
    <router-outlet></router-outlet>
  </div>
</div>
