<app-this-week
  (chooseDay)="fetchShowings($event)"
  [chosenDate]="chosenDate"
  [currDay]="currDay"
  [week]="week"
></app-this-week>
<ng-container *ngIf="repertoire$ | async as repertoire; else noShowings">
  <ng-container *ngIf="repertoire.length; else noShowings">
    <div>
      <div *ngFor="let movie of repertoire" class="movie-container">
        <ng-container *ngIf="movie.showings.length">
          <app-movie-details
            [movieDetails]="movie.movieDetails"
            [movieShowings]="movie.showings"
          ></app-movie-details>
        </ng-container>
      </div></div></ng-container
></ng-container>
<ng-template #noShowings>
  <div class="flex align-middle justify-center">
    <p class="mt-3 text-2xl">Brak seansów na dany dzień</p>
  </div></ng-template
>
