.dates {
  text-align: center;
  margin: 2rem 0;
}

.dates button {
  padding: 0.5rem;
  background-color: lightgrey;
  border: 1px solid;
}

.movie-container {
  display: flex;
  margin-bottom: 2rem;

  &__img {
    margin-right: 2rem;
  }

  &__hours {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;

    span {
      padding: 0.25rem;
    }
  }
  &__details {
    gap: 1rem;
    span {
      padding-right: 1rem;
    }
    span + span {
      border-left: 1px solid;
      padding-left: 0.5rem;
    }
  }
}

.showMoreLabel > span {
  border: 1px solid;
  padding: 0.5rem;
  padding-left: 0;
  border-radius: 0.5rem;
  background-color: cornflowerblue;
}
input.more-text {
  appearance: none;
}

.movie-container__details > .movie-container__hours > span {
  border: 1px solid;
  background-color: lightgrey;
}

.additionalBtns {
  margin-top: 2rem;
}

.weekDays {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.weekDays button {
  background-color: white;
  border: 2px solid blue;
  border-radius: 1rem;
  color: blue;
  padding: 1rem;
  cursor: pointer;

  &:disabled {
    background-color: white;
    border: 1px solid grey;
    color: grey;
    cursor: default;
  }
}

.weekDays button:not(:disabled):hover {
  background-color: blue;
  border: 2px solid white;
  border-radius: 1rem;
  color: white;
  transform: scale(1.2);
}
