<app-cart></app-cart>

<form [formGroup]="checkoutForm" (ngSubmit)="sendForm()">
  <fieldset>
    <mat-form-field class="full-width">
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName" /> </mat-form-field
    ><mat-form-field class="full-width">
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Numer Telefonu</mat-label>
      <input type="tel" matInput formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adres email</mat-label>
      <input type="email" matInput formControlName="email" /> </mat-form-field
    ><mat-form-field>
      <mat-label>Potwierdź adres email</mat-label>
      <input type="email" matInput formControlName="confirmEmail" />
    </mat-form-field>

    <mat-slide-toggle
      [checked]="true"
      color="primary"
      formControlName="newsletter"
      >Chcę otrzymywać informacje o zniżkach i promocjach
    </mat-slide-toggle>

    <mat-form-field class="full-width">
      <mat-label>Kod zniżkowy</mat-label>
      <input matInput formControlName="couponCode" />
    </mat-form-field>

    <button mat-raised-button color="primary">Zamawiam</button>
  </fieldset>
</form>
