<app-cart></app-cart>

<form [formGroup]="checkoutForm" (ngSubmit)="sendForm()">
  <fieldset>
    <label for="firstName">
      Imię
      <input type="text" formControlName="firstName" />
    </label>
    <label for="lastName"
      >Nazwisko <input type="text" formControlName="lastName" />
    </label>
    <label for="phoneNumber"
      >Numer telefonu
      <input type="tel" formControlName="phoneNumber" />
    </label>

    <label for="email"
      >Adres email <input type="email" formControlName="email" />
    </label>
    <label for="confirmEmail"
      >Potwierdź adres email
      <input type="email" formControlName="confirmEmail" />
    </label>

    <label for="newsletter" class="switch">
      <input type="checkbox" id="newsletter" formControlName="newsletter" />
      <span class="slider round"></span> </label
    >Chcę otrzymywać informacje o zniżkach i promocjach

    <label for="couponCode">
      Kod zniżkowy
      <input type="text" formControlName="couponCode" />
    </label>
    <button>Zamawiam</button>
  </fieldset>
</form>
