<app-cart></app-cart>

<form [formGroup]="checkoutForm" (ngSubmit)="sendForm()" class="mt-2">
  <fieldset>
    <mat-form-field class="full-width">
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="firstNameCtrl.errors">
        <span *ngIf="firstNameCtrl.hasError('required')">
          Imię jest wymaganym polem</span
        >
        <span *ngIf="firstNameCtrl.hasError('minlength')">
          Imię musi się składać z minimum
          {{ firstNameCtrl.errors!["minlength"]["requiredLength"] }}
          znaków
        </span>
        <span *ngIf="firstNameCtrl.hasError('maxlength')">
          Maksymalna liczna znaków to
          {{ firstNameCtrl.errors!["maxlength"]["requiredLength"] }}
        </span></mat-error
      > </mat-form-field
    ><mat-form-field>
      <mat-label>Nazwisko</mat-label
      ><input matInput formControlName="lastName" /><mat-error
        *ngIf="lastNameCtrl.errors"
        ><span *ngIf="lastNameCtrl.hasError('required')">
          Nazwisko jest wymaganym polem</span
        >

        <span *ngIf="lastNameCtrl.hasError('minlength')">
          Nazwisko musi się składać z minimum
          {{ lastNameCtrl.errors!["minlength"]["requiredLength"] }}
          znaków </span
        ><span *ngIf="lastNameCtrl.hasError('maxlength')">
          Maksymalna liczba znaków to
          {{ lastNameCtrl.errors!["maxlength"]["requiredLength"] }}
        </span></mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Numer Telefonu</mat-label>
      <input
        type="tel"
        appNumbersOnly
        [inputLength]="9"
        matInput
        formControlName="phoneNumber"
      /><mat-error *ngIf="phoneNumberCtrl.errors">
        <span *ngIf="phoneNumberCtrl.hasError('required')">
          Numer telefonu jest wymaganym polem</span
        >
        <span *ngIf="phoneNumberCtrl.hasError('pattern')">
          Numer telefonu musi się składać z 9 cyfr
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adres email</mat-label>
      <input type="email" matInput formControlName="email" /><mat-error
        *ngIf="emailCtrl.errors"
      >
        <span *ngIf="emailCtrl.hasError('required')"
          >Email jest wymaganym polem</span
        >

        <span *ngIf="emailCtrl.hasError('emailPattern')">
          Niewłaściwy format adresu email
        </span></mat-error
      > </mat-form-field
    ><mat-form-field>
      <mat-label>Potwierdź adres email</mat-label>
      <input type="email" matInput formControlName="confirmEmail" />
      <mat-error *ngIf="confirmEmailCtrl.errors" class="confirm-email-errors">
        <span *ngIf="confirmEmailCtrl.hasError('required')">
          {{ confirmEmailErrorMessages["required"] }}</span
        >
        <span *ngIf="confirmEmailCtrl.hasError('emailPattern')">
          {{ confirmEmailErrorMessages["pattern"] }}</span
        ><span *ngIf="confirmEmailCtrl.hasError('notMatch')">
          {{ confirmEmailErrorMessages["notMatch"] }}</span
        >
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle
      [checked]="true"
      color="primary"
      formControlName="newsletter"
      >Chcę otrzymywać informacje o zniżkach i promocjach
    </mat-slide-toggle>

    <mat-form-field class="full-width mb-1">
      <mat-label>Kod zniżkowy</mat-label>
      <input matInput formControlName="couponCode" />

      <mat-error *ngIf="couponCodeCtrl.errors">
        <span *ngIf="couponCodeCtrl.hasError('minlength')"
          >Kod musi składać się z co najmniej
          {{ couponCodeCtrl.errors!["minlength"]["requiredLength"] }}
          znaków</span
        >

        <span
          *ngIf="
            couponCodeCtrl.errors && couponCodeCtrl.errors['couponInvalid']
          "
        >
          Nieprawidłowy kod </span
        ><span
          *ngIf="couponCodeCtrl.errors && couponCodeCtrl.errors['couponUsed']"
        >
          Kod wykorzystany
        </span>
      </mat-error>
      <mat-hint
        class="color-success"
        *ngIf="
          (couponCodeCtrl.statusChanges | async) &&
          couponCodeCtrl.valid &&
          couponCodeCtrl.value
        "
        >Zastosowano żniżkę</mat-hint
      >
    </mat-form-field>

    <button [disabled]="!checkoutForm.valid" mat-raised-button color="primary">
      Zamawiam
    </button>
  </fieldset>
</form>

<router-outlet></router-outlet>
