<p class="text-lg font-medium mt-3 text-orange-400 inline-flex gap-2">
  <mat-icon class="overflow-visible">info</mat-icon
  ><span>
    Niezakupione bilety są usuwane po 15 minutach od dodania ich do
    koszyka</span
  >
</p>
<ng-container *ngIf="cart$ | async as cart">
  <ol class="pl-4 mt-2">
    <li *ngFor="let item of cart; let index = index" class="mt-1">
      {{ item.ticketTypeName }}, cena: {{ item.ticketPrice }}, miejsce
      {{ item.rowSeat }}{{ item.columnSeat }}
      <ng-container *ngIf="item.showingId">
        <a
          mat-raised-button
          color="primary"
          [routerLink]="['/showing/', item.showingId]"
        >
          <app-showing-details
            class="leading-normal"
            [showingId]="item.showingId"
            [showingDetails]="item.showingDetails"
          ></app-showing-details></a
      ></ng-container>
      <button
        *ngIf="routerUrl === '/cart'"
        mat-raised-button
        color="primary"
        (click)="
          onRemoveFromCart(
            item.id,
            item.rowSeat,
            item.columnSeat,
            item.showingId,
            item.userID
          )
        "
        mat-raised-button
        color="warn"
        class="ml-2"
      >
        Usuń
      </button>
    </li>
  </ol>

  <ng-container *ngIf="cart.length > 0; else cartIsEmpty">
    <app-cart-price
      [paymentData]="(paymentData$ | async)!"
    ></app-cart-price> </ng-container
  ><ng-template #cartIsEmpty>
    <h2 class="text-2xl mt-2">Koszyk jest pusty</h2>
    <a routerLink="" class="text-xl mt-2 inline-block">Wróć do listy seansów</a>
  </ng-template>
</ng-container>
