<ng-container *ngIf="dataForShowing$ | async as data; else loading">
  <h1 class="text-5xl font-bold pb-1 my-2 text-center">Dodaj nowy seans</h1>
  <form [formGroup]="addShowingForm" (ngSubmit)="addShowing(data.movies)">
    <mat-form-field appearance="fill">
      <mat-label>Wybierz film</mat-label>
      <mat-select
        formControlName="movieTitle"
        (selectionChange)="
          updateMovieId($event, data.movies); setTimeCtrlValues(data.movies)
        "
      >
        <mat-option
          [value]="movie.title"
          *ngFor="let movie of data.movies; let index = index"
          class="mt-2 title-option"
          >{{ movie.title }} <img class="option-img" [src]="movie.imageUrl"
        /></mat-option>
      </mat-select>

      <mat-error *ngIf="movieTitleCtrl.errors"
        ><span *ngIf="movieTitleCtrl.errors['required']"
          >FIlm jet wymaganym polem</span
        ></mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wybierz datę</mat-label>
      <input
        formControlName="date"
        matInput
        [disabled]="true"
        [min]="tomorrow"
        [matDatepicker]="picker"
      />
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateCtrl.errors"
        ><span *ngIf="dateCtrl.errors['required']"
          >Data jest wymaganym polem</span
        ></mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Czas rozpoczęcia</mat-label>
      <input
        type="time"
        matInput
        formControlName="timeFrom"
        (change)="setTimeCtrlValues(data.movies)"
      />
      <mat-error *ngIf="timeFromCtrl.errors"
        ><span *ngIf="timeFromCtrl.errors['required']"
          >Czas rozpoczęcia jest wymaganym polem</span
        ></mat-error
      >
    </mat-form-field>
    <p class="mb-4 text-xl">
      <b>Czas zakończenia:</b
      ><span
        *ngIf="movieTitleCtrl.dirty && timeFromCtrl.dirty && timeFromCtrl.valid"
        >{{ addShowingForm.controls.timeTo.value }}</span
      >
    </p>
    <mat-form-field appearance="fill">
      <mat-label>Przerwa po filmie</mat-label>
      <input
        matInput
        appNumbersOnly
        type="number"
        formControlName="break"
        (change)="setTimeCtrlValues(data.movies)"
      />
      <mat-error *ngIf="breakCtrl.errors"
        ><span *ngIf="breakCtrl.errors['required']"
          >Przerwa jest wymaganym polem</span
        ></mat-error
      >
    </mat-form-field>
    <p class="mb-4 text-xl">
      <b>Sala dostępna po godzinie:</b
      ><span
        *ngIf="
          movieTitleCtrl.dirty &&
          timeFromCtrl.dirty &&
          timeFromCtrl.valid &&
          breakCtrl.valid
        "
        >{{ addShowingForm.controls.hallAvailableAfter.value }}</span
      >
    </p>

    <mat-form-field appearance="fill">
      <mat-label>Wybierz salę</mat-label>
      <mat-select (selectionChange)="updateRowsAndColumns($event, data.halls)">
        <mat-option
          [value]="hall.name"
          *ngFor="let hall of data.halls; let index = index"
          >{{ hall.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <p class="text-xl">
      <b>Liczba kolumn:</b> {{ addShowingForm.controls.columns.value }}
    </p>
    <p class="text-xl">
      <b>Liczba rzędów:</b> {{ addShowingForm.controls.rows.value }}
    </p>
    <ng-container *ngIf="addShowingForm.statusChanges | async">
      <ng-container *ngIf="addShowingForm.valid && addShowingForm.touched">
        <div
          class="text-xl text-green-700 inline-flex font-semibold mt-4 justify-center"
        >
          <mat-icon class="mr-2">check_circle_outline</mat-icon>
          <p>Sala dostępna</p>
        </div>
      </ng-container>
      <ng-container *ngIf="addShowingForm.pending">
        <div class="flex flex-col items-center justify-center">
          <p class="text-xl font-semibold mb-2">Sprawdzam dostępność sali</p>
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!addShowingForm.pending">
      <div class="flex justify-center">
        <button
          [disabled]="!addShowingForm.valid"
          mat-raised-button
          color="primary"
          class="w-36"
        >
          Utwórz seans
        </button>
      </div></ng-container
    >

    <ng-container *ngIf="addShowingForm.errors as errors">
      <ng-container *ngIf="errors['timeslotTaken']"
        ><p class="text-red-700 inline-flex justify-center">
          <mat-icon class="mr-2">info</mat-icon> Nie można dodać seansu, w tym
          czasie na wybranej sali odbywa się inny seans.
        </p>
        <div class="flex justify-center">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="getShowings()"
            class="w-36 mx-0"
          >
            Pokaż seanse
          </button>
        </div>

        <ng-container *ngIf="showings$ | async as showings">
          <ol class="pl-2 showing-list mt-4">
            <li *ngFor="let showing of showings">
              <app-showings-list-item
                [showing]="showing"
              ></app-showings-list-item>
            </li>
          </ol>
        </ng-container> </ng-container
    ></ng-container>
  </form>
</ng-container>
<ng-template #loading>
  <div class="flex items-center justify-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
