<app-this-week (chooseDay)="filterShowings($event)"></app-this-week>

<p *ngIf="filteredShowings.length === 0">Brak repertuaru na dany dzień</p>

<div *ngIf="filteredShowings.length">
  <div *ngFor="let movie of movieDetails" class="movie-container">
    <ng-container *ngIf="checkIfMovieHasShowings(movie.id)">
      <app-movie-details [movieId]="movie.id"></app-movie-details>

      <div
        class="movie-container__hours"
        *ngFor="let showing of filteredShowings"
      >
        <div *ngIf="movie.id === showing.movieId">
          <a
            mat-raised-button
            color="primary"
            [routerLink]="['/kup-bilet/', showing.id]"
          >
            {{ showing.timeFrom }}
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
