@tailwind base;
@tailwind components;
@tailwind utilities;

$accent-error: #ff4040;
$accent-success: #88b42d;

$primary-900: #211e1d;

$neutral-100: #ffffff;
$neutral-300: #f7f3f2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  color: #e5e9ed;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #01172f;
  min-height: 100vh;
  width: min(100vw, 1920px);
  margin-inline: auto;
  padding-inline: clamp(8px, 5vw, 5rem);
}

/// TYPOGRAPHY
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #022143;
}

.btn {
  min-width: 150px;
  border-radius: 25px;
}

.btn + .btn {
  margin-left: 1rem;
}

* {
  box-sizing: border-box;
}

button + button,
button + span,
span + button {
  margin-inline: 0.5rem;
}
button {
  margin: 1rem 0;
}
button:disabled,
.mat-button-toggle-disabled {
  color: lightgrey !important;
  background-color: gray !important;
  pointer-events: none;
}

html,
body {
  height: 100%;
}

button a {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(50 50 227);
  cursor: pointer;
}

#mat-mdc-slide-toggle-1-label {
  color: $neutral-300;
}

.mat-mdc-slide-toggle {
  margin-bottom: 1rem;
}

.color-green,
.color-success {
  color: green;
}
////TYPOGRAPHY

.text-body {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}
.text-body-big {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.user-tickets-container {
  margin-top: 2rem;

  &__order-num {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px $neutral-300;
    width: fit-content;
  }

  &__tickets > span {
    display: inline-flex;
    align-items: center;
    margin: 0.75rem 0;

    app-showing-details {
      margin: 0;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol {
  list-style-type: decimal;
}

///SNACKBAR
/// ////// SNACKBAR

.mat-mdc-snack-bar-container {
  max-width: 80vw;
}
.mat-mdc-simple-snack-bar {
  align-items: center;
}
.red-snackbar {
  --mdc-snackbar-container-color: #d33030;
  color: $neutral-300;
}
.red-snackbar button {
  background-color: #a90c0c;
  color: $neutral-300 !important;
  border: none;
}
.green-snackbar {
  --mdc-snackbar-container-color: #1f9e52;
  color: $neutral-300;
}
.green-snackbar button {
  background-color: #136032;
  color: $neutral-300 !important;
  border: none;
}

///Ticket form
.tickets-fieldset .mat-mdc-text-field-wrapper {
  width: 185px;
}

////DIALOG
.dialog-container__dialog-icon.mat-icon,
.success-icon.mat-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
  color: green;
  margin-top: 1rem;
}

/////
.overflow-visible,
.mat-icon.overflow-visible {
  overflow: visible;
}

////MAT-ERRORS
.blik-form .mat-mdc-form-field-error-wrapper {
  padding: 0;
}
.mat-mdc-form-field-error span:not(:first-child) {
  display: none;
}
