@tailwind base;
@tailwind components;
@tailwind utilities;

$accent-error: #ff4040;
$accent-success: #88b42d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  color: #e5e9ed;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #01172f;
  min-height: 100vh;
  width: min(100vw, 1920px);
  margin-inline: auto;
  padding-inline: 5rem;
}

/// TYPOGRAPHY
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  min-width: 150px;
  border-radius: 25px;
}

.btn + .btn {
  margin-left: 1rem;
}

* {
  box-sizing: border-box;
}

button + button,
button + span,
span + button {
  margin-inline: 0.5rem;
}
button {
  margin: 1rem 0;
}
button:disabled,
.mat-button-toggle-disabled {
  color: lightgrey !important;
  background-color: gray !important;
  pointer-events: none;
}

html,
body {
  height: 100%;
}

button a {
  color: white;
}
// button:focus {
//   font-weight: 700;
//   background-color: white !important;
//   color: rgb(63, 81, 181) !important;
// }

a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

#mat-mdc-slide-toggle-1-label {
  color: white;
}

.mat-mdc-slide-toggle {
  margin-bottom: 1rem;
}

.color-green,
.color-success {
  color: green;
}
////TYPOGRAPHY
///

.text-body {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}
.text-body-big {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.user-tickets-container {
  margin-top: 2rem;

  &__order-num {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px white;
    width: fit-content;
  }

  &__tickets > span {
    display: inline-flex;
    align-items: center;
    margin: 0.75rem 0;

    app-showing-details {
      margin: 0;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol {
  list-style-type: decimal;
}

///SNACKBAR
/// ////// SNACKBAR
.red-snackbar {
  background: $accent-error;
  color: white;
}
.red-snackbar button {
  background-color: $accent-error;
  color: white !important;
  border: none;
}
.green-snackbar {
  background: $accent-success;
  color: white;
}
.green-snackbar button {
  background-color: $accent-success;
  color: white !important;
  border: none;
}
