<ng-container *ngIf="movies$ | async as movies; else loading">
  <h1 class="text-3xl font-bold pb-1">Lista filmów</h1>
  <a routerLink="/admin/movies/add-movie" class="text-xl inline-flex"
    >Dodaj nowy film <mat-icon class="ml-2 text-lg">create</mat-icon></a
  >

  <ol class="pl-6 movies-list mt-4">
    <li *ngFor="let movie of movies">
      <p class="text-xl"><b>Tytuł filmu : </b>{{ movie.title }}</p>
      <p><b>Plakat : </b><img [src]="movie.imageUrl" [alt]="movie.title" /></p>
      <p>
        <b>Kategorie : </b
        ><span *ngFor="let genre of movie.genres">{{ genre }} </span>
      </p>
      <p><b>Czas trwania : </b>{{ movie.duration }} min</p>
      <p><b>Ograniczenia wiekowe : </b>{{ movie.ageRestriction }}</p>
      <p><b>Opis krótki : </b>{{ movie.descriptionShort }}</p>
      <p><b>Opis długi : </b>{{ movie.descriptionLong }}</p>
      <p><b>Premiera: </b>{{ movie.isPremiere ? "tak" : "nie" }}</p>
    </li>
  </ol>
</ng-container>
<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
